

.font {
    font-family:  'Comfortaa';
    color: rgb(29, 78, 168);
}
.font2 {
    font-family: serif;
    color: rgb(29, 69, 112);
}

.margin {
    margin: 30px;
}


.padding {
    padding-top: 10px;
    padding-bottom: 30px;
}