.search {
position: relative;
margin-right: 100px;
margin-left: 100px;
margin-top: 50px;

}

.nav {
margin-left: 100px;
margin-right: 10px;
margin-top: 100px;
}

.filters {
margin: 10px;
}

.button {
    margin: 1px;
    background-color: rgb(163, 116, 15);
}

.button:hover {
    background-color: rgb(199, 141, 48);
}

.inputs {
    background-color: rgb(197, 191, 191);
}

.inputs:hover {
    background-color: rgb(231, 226, 226);
}